<title mat-dialog-title>Add movie</title>

<mat-dialog-content width="100%">
  <form id="form" name="form">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile>
        <div class="controls-container">
          <mat-form-field>
            <input
              matInput
              type="text"
              name="title"
              [(ngModel)]="title"
              placeholder="title"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              name="director"
              [(ngModel)]="director"
              placeholder="director"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              name="writers"
              [(ngModel)]="writers"
              placeholder="writers"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controls-container">
          <mat-form-field>
            <input
              matInput
              type="text"
              name="year"
              [(ngModel)]="year"
              placeholder="year"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              name="stars"
              [(ngModel)]="stars"
              placeholder="stars"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              name="imgUrl"
              [(ngModel)]="imgUrl"
              placeholder="imgUrl"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field>
      <input
        class="review"
        matInput
        type="text"
        name="review"
        [(ngModel)]="review"
        placeholder="review"
      />
    </mat-form-field>
    <h3>Ratings</h3>
    <div *ngFor="let rating of testRatings">
      <app-rating
        [arr]="rating"
        (newItemEvent)="getChange($event, rating[0])"
      ></app-rating>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    [mat-dialog-close]="onSubmit()"
    mat-dialog-close
    color="primary"
    type="submit"
    (click)="onSubmit()"
  >
    ADD
  </button>
  <button mat-button mat-dialog-close color="primary">CLOSE</button>
</mat-dialog-actions>

<!--(newItemEvent)="getChange($event, rating[1])"--->
